<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <link href="/style.css" type="text/css" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <title>Рецепты</title>
</head>
<body>
<header class="card-header container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">
                <div>
                    <p class="text-center mb-1 text-inter h3 text-inter text-white">ЕДА</p>
                    <hr class="hr">
                    <p class="text-center mt-1 text-inter h3 text-inter h3 text-white">HELP</p>
                </div>
            </a>
            <div class="container">
                <form class="d-flex">
                    <input class="form-control mr-xl-1 cuprum" type="search" placeholder="ПОИСК" aria-label="Search">
                    <button class="btn btn-outline-success margin cuprum" type="submit">ПОИСК</button>
                    <button type="button" class="btn btn-success margin cuprum">РЕГИСТРАЦИЯ</button>
                    <button type="button" class="btn btn-success cuprum">ВХОД</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<header class="container">
    <header class="card-header border-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../contact_terms_of_use/page_o_nas.html"><p class="h4 cuprum"><b>О НАС</b></p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../schedule_page/schedule_page.html"><p class="h4 cuprum"><b>ШЕФ-РЕЦЕПТЫ</b></p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/page/schedule_recipes_page/recipes_page.html"><p class="h4 cuprum"><b>РЕЦЕПТЫ</b></p></a>
                    </li>
                </ul>

            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="">
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=""><p class="h5 lead cuprum">ЗАКУСКИ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=""><p class="h5 lead cuprum">САЛАТЫ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">КРЕМ СУПЫ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ПАСТА</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">РЕЗОТТО</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">МЯСО</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">РЫБА</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ДИСЕРТЫ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">НАПИТКИ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ПП</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">СУШИ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ИЗЫСКАННОЕ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">СОУС</p></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</header>
<main class="container border-right border-left border-dark">
    <div class="container mt-5">
        <div class="row ">
            <div class="col-1">
                <p class="text-comfortaa h2">ШЕФ</p>
            </div>
            <div class="col-4">
                <p class="text-comfortaa h2">АЛЕКСЕЙ КАРПОВИЧ</p>
            </div>
            <div class="col-4">
                <p class="text-comfortaa h2">ПАНАЗИАЦКАЯ КУХНЯ</p>
            </div>
            <div class="col"><a href="">link</a><a href="">link</a><a href="">link</a></div>
        </div>

        <div class="row">
            <div class="col-7"><a href=""><img class="img-fluid img-thumbnail"src="/image/photo_2020-11-26_11-49-26.jpg"> </a></div>
            <div class="col-4">
                <p class="cuprum h5 mt-5">
                    Карпович Алексей Геннадьевич.
                    Кулинарный стаж более 10 лет.
                    Первые профессиональные уроки японской кухни получил в Киеве, Украина.</p>
                <p class="cuprum h5">Ресторан Мураками стал его родным домой и уже через некоторое время смог достичь высоких результатов.</p>
                <p class="cuprum h5">После вернулся в Беларуси и участвовал в различных Минских проектов.</p>
                <p class="cuprum h5">Открывал ресторан, доставку и точки take away.
                    На данный момент запускает в продажи свою продукцию под брендом FIT CHEF, которая специализируется исключительно на здоровой еде.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
    <p class="text-comfortaa"><b>РЕЦЕПТЫ</b></p>
    <p class="cuprum">
        Рецепт на все случаи жизни.
        Паштет морковный от Карповича Алексея
        Нут замочить на ночь, отварить до готовности. Бульон оставить для хумуса чтобы регулировать консистенцию.
        Морковь запекаем в фольге при температуре 180 - 40 минут (в зависимости от толщины моркови).
        После того как морковь запеклась погружаем в блендер нут и все остальные компоненты,часть моркови.
        Оставшиеся морковь пойдет на декор.
    </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img class="img-fluid img-thumbnail" alt="Responsive image"  src="/image/IMG_0807.JPG">
            </div>

            <div class="col-5">
                <div class="container">
                    <div class="row">
                        <div class="col mb-5">
                            <p class="h3 text-center text-comfortaa"><b>ПАШТЕТ МОРКОВНЫЙ</b></p>
                        </div>
                        <div class="row">
                        <div class="col-7">
                            <ul class="list-group">

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Отварной нут</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Паста Тахини</li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Винаградное масло</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Лимонный сок</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Чеснок</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Морская соль</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Перец молотый</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Зира</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Паприка сладкая</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Вода</p></li>

                                <li class="list-group-item"><p class="font-italic h5 text-inter">Морковь</p></li>
                            </ul>
                        </div>
                        <div class="col-5">
                            <ul class="list-group">

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">100 г</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">1 ст.ложка</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">1 ст.ложка</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">1 ч.ложка</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">1 зубчик</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">по вкусу</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">щепотка</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">щепотка</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">щепотка</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">25 г</p></li>

                                <li class="list-group-item"><p class="text-right font-italic h5 text-inter">70 г</p></li>
                            </ul>
                         </div>
                       </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="page-footer font-small blue pt-4 border-top rounded-top bg-dark text-white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h1 class="text-uppercase text-inter">EH</h1>
                <p class="text-comfortaa">МИР КУЛИНОРНОГО ИСКУСТВА</p>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 text-white">

                <!-- Links -->

                <ul class="list-unstyled cuprum">
                    <li>
                        <a class="text-decoration-none text-white" href="#!">ГЛАВНАЯ</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-white" href="#!">ПРАВИЛА САЙТА</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-white" href="#!">ПОЛИТИКА КОНФЕДЕНЦИАЛЬНОСТИ</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-white" href="#!">КОНТАКТЫ</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase"></h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-comfortaa">© 2020 DoroshenkoDevelop

    </div>
    <!-- Copyright -->

</footer>
</body>
</html>