<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <link href="/style.css" type="text/css" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <title class="">EH</title>
</head>
<body>
<header class="card-header container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">
                <div>
                    <p class="text-center mb-1 text-inter h3 text-inter text-white">ЕДА</p>
                    <hr class="hr">
                    <p class="text-center mt-1 text-inter h3 text-inter h3 text-white">HELP</p>
                </div>
            </a>
            <div class="container">
                <form class="d-flex">
                    <input class="form-control mr-xl-1 cuprum" type="search" placeholder="ПОИСК" aria-label="Search">
                    <button class="btn btn-outline-success margin cuprum" type="submit">ПОИСК</button>
                    <button type="button" class="btn btn-success margin cuprum">РЕГИСТРАЦИЯ</button>
                    <button type="button" class="btn btn-success cuprum">ВХОД</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<header class="container">
    <header class="card-header border-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../contact_terms_of_use/page_o_nas.html"><p class="h4 cuprum"><b>О НАС</b></p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../schedule_page/schedule_page.html"><p class="h4 cuprum"><b>ШЕФ-РЕЦЕПТЫ</b></p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/page/schedule_recipes_page/recipes_page.html"><p class="h4 cuprum"><b>РЕЦЕПТЫ</b></p></a>
                    </li>
                </ul>

            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="">
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=""><p class="h5 lead cuprum">ЗАКУСКИ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=""><p class="h5 lead cuprum">САЛАТЫ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">КРЕМ СУПЫ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ПАСТА</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">РЕЗОТТО</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">МЯСО</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">РЫБА</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ДИСЕРТЫ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">НАПИТКИ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ПП</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">СУШИ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">ИЗЫСКАННОЕ</p></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-1 mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="h5 lead cuprum">СОУС</p></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</header>
<main class="container border-right border-left border-dark">
    <div class="container col-md-3">
        <form class="border mt-5 mb-5">
            <div class="form-group m-4">
                <p class="text-center lead mt-5 mb-5 cuprum">
                    <b>ВХОД</b>
                </p>
            </div>
            <div class="form-group m-4">
                <input type="email" class="form-control cuprum" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Электронная почта">
            </div>
            <div class="form-group m-4">
                <input type="password" class="form-control cuprum" id="exampleInputPassword1" placeholder="Пароль">
            </div>
            <div class="form-check m-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Получить навосную рассылку</label>
            </div>
            <div class="text-center mb-5">
                <button  type="submit" class="btn btn-success cuprum">ВОЙТИ</button>
            </div>
            <div>
                <p class="text-center">
                    <a class="text-success text-decoration-none cuprum" href="">Забыли пароль?</a>

                    Ещё не с нами? <a class="text-success text-decoration-none cuprum" href="">Зарегистрируйтесь</a>
                </p>
            </div>

        </form>
    </div>
</main>
<footer class="page-footer font-small blue pt-4 border-top rounded-top bg-dark text-white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h1 class="text-uppercase text-inter">EH</h1>
                <p class="text-comfortaa">МИР КУЛИНОРНОГО ИСКУСТВА</p>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 text-white">

                <!-- Links -->

                <ul class="list-unstyled cuprum">
                    <li>
                        <a class="text-decoration-none text-white" href="#!">ГЛАВНАЯ</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-white" href="#!">ПРАВИЛА САЙТА</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-white" href="#!">ПОЛИТИКА КОНФЕДЕНЦИАЛЬНОСТИ</a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-white" href="#!">КОНТАКТЫ</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase"></h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-comfortaa">© 2020 DoroshenkoDevelop

    </div>
    <!-- Copyright -->

</footer>

</body>
</html>