.margin{
    margin-right: 10px;
}
.hr{
    margin: 0;
    border: 2px solid ;
    color: #009900;
}
.border{
    border: 2px solid;
}
.navi{
    justify-content: space-between;
}
.round{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 3px;
}
.text-comfortaa{
    font-family: 'Comfortaa', cursive;
}
.text-inter{
    font-family: 'Inter', sans-serif;
}
.cuprum{
    font-family: 'Cuprum', sans-serif;
}
.border-box{
    box-sizing: border-box;
}
.parallax{
    background-image: url("public/images/Gordon.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-header{
    background-color: #1b1e21;
}
.content-footer{
    background-color: #1b1e21;
    background-size: cover;
}
