.margin{
    margin-right: 10px;
}
.hr{
    margin: 0;
    border: 2px solid ;
    color: #009900;
}
.border{
    border: 2px solid;
}
.navi{
    justify-content: space-between;
}
.round{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px;
}
.text-comfortaa{
    font-family: 'Comfortaa', cursive;
}
.text-inter{
    font-family: 'Inter', sans-serif;
}
.cuprum{
    font-family: 'Cuprum', sans-serif;
}
.border-box{
    box-sizing: border-box;
}
.blog-chef{
    text-align: center;
    align-content: center;
    margin: 0 auto;
}
.parallax
{
    background-image: url("../storage/public/kare.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-header
{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 800px;
    background-image: url("../storage/public/gordon.jpg");
}

.content-footer{
    background-size: cover;
    height: 600px;
    background-color: white;
}

.logo{
    width: 6%;
    height: 20%;
    margin: 0 auto;
}
.block-container{
    width: 65%;
    margin: 0 auto;
}
.block-slider{
    margin: 0 auto;


}
